* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.list {
    width: 21rem;
    max-width: 95%;
    min-width: 17rem;
    margin: 5rem auto 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.span-2 {
    grid-column: span 2;
}
.span-3 {
    grid-column: span 3;
}

.title {
    padding: .2rem;
    color: white;
    background-color: #845ec2;
}
.subtitle {
    padding: .2rem;
    color: #d65db1;
    font-style: italic;
}
.header {
    background-color: #ffc75f;
}

.row {
    padding: 0.1rem;
    width: auto;
    grid-column: span 3;
    display: grid;
    grid-template-columns: 2rem 1fr 1fr 1fr;
}
.row-dark {
    background-color: #f9f871;
}

.foot {
    text-align: center;
    grid-column: span 3;
    font-style: italic;
}